.ReccomendationContainer{
    position: absolute;
    width: 800px;
    height: auto;
    background-color: hsl(33, 70%, 55%);
    z-index: 9999999999;
    top: 10%;
    right: 1%;
    border-radius: 30px;
    padding: 20px;
    a{
        text-decoration: none;
        color: inherit;
    
    }

}
#checkButton{
    width: auto;
}