@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    background-color: hsl(60, 56%, 81%) ;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Nowoczesna czcionka */
    
    

}
nav{
    display: flex;
    background-color: hsl(125, 75%, 74%);
    width: 100%;
    z-index: 999;
    justify-content: end;
    
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-right:30px;
        margin:0px;
    }
    #logo{
        position: absolute;
        left: 30px;
    }
    li{
        padding: 17px 15px;
        cursor: pointer;
    }

    li:hover{
        background-color: hsl(125, 75%, 64%);
    }


}
.CloseTravels{
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 20%;
    top:20%;
    transform: translateX(-50%);
    border-radius: 10px;
    position: absolute;
}
.CloseTravelContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 10px;
    align-items: center;
    gap:20px;
    .Travels{
        padding-left: 10px;
        width: 90%;
        height: 28%;
        background-color: hsl(33, 70%, 55%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        5px -5px 10px rgba(0, 0, 0, 0.2), 
        -5px 5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        h1{
            position: absolute;
            top:0;
        }
        h2{
            position: absolute;
            bottom: 0;
        }
        
    }
    .Travels:hover{
        background-color: hsl(33, 70%, 45%);

    }

}
.ImageContainer{
    height: 75%;
    width: 22%;
    position: absolute;
    top: 15%;
    right: 3%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;

    .Landscape{
        height: 33%;
        width: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: yellow;
        background-size: cover;
        flex-shrink: 0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        5px -5px 10px rgba(0, 0, 0, 0.2), 
        -5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;


    }
    .Landscape:hover{
        width: 95%;
        height: 38%;

    }
}
.ImageContainer::-webkit-scrollbar {
    display: none;  /* Ukrywa pasek przewijania */
    }
