.TravelDisplayContainer{
    position: absolute;
    height: 120%;
    width: 600px;
    top: 10%;
    right: 10%;
    padding: 20px;
    background-color: hsl(33, 70%, 70%);;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
    -5px -5px 10px rgba(0, 0, 0, 0.2),
    5px -5px 10px rgba(0, 0, 0, 0.2), 
    -5px 5px 10px rgba(0, 0, 0, 0.2);    
}
.AddTravelButton{
    position: absolute;
    top:5%;
    right: 5%;
    height: 50px;
    width: auto;
}
.WeatherContainer{
    height: 50%;
    width: 90%;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.Weather{
    background-color: orange;
    width: 50%;
    height: 40%;
}