.map-container {
    height: 60%;
    width: 35%;
    position: absolute;
    left:38%;
    top: 20%;
    border-radius: 20px;
    background-color: hsl(33, 70%, 55%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
    -5px -5px 10px rgba(0, 0, 0, 0.2),
    5px -5px 10px rgba(0, 0, 0, 0.2), 
    -5px 5px 10px rgba(0, 0, 0, 0.2);
    
    .Map{
        height: 85%;
        bottom: 6px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 0;
        

    }
}
input{
    height: 30px;
    border-radius: 10px;
}
#SubmitButton{
    height: 30px;
    border-radius: 10px; 
    width: 100px;
    
}
